[Unit]
Description=Weave Network
Documentation=http://docs.weave.works/weave/latest_release/
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=-{{ env_file }}
ExecStartPre=/usr/local/bin/weave launch --log-level $LOG_LEVEL --no-restart $PEERS
ExecStart=/usr/bin/docker attach weave
{% if weave_net.assign_host_address %}ExecStartPost=/usr/local/bin/weave expose
{% endif %}
ExecStop=/usr/local/bin/weave stop

[Install]
WantedBy=multi-user.target

