{% if secrets.encrypt is defined -%}
WEAVE_PASSWORD={{ secrets.encrypt | yaml_squote }}
{%- endif %}
PEERS="{% for _, peer in peers.items() %}{{ peer | first }} {% endfor %}"
LOG_LEVEL={{ log_level | yaml_squote }}
